@{
    ViewBag.Title = "Sobre";
}

<h3 class="green bolder">Sobre Academia ON</h3>
<p>O Academia ON é um serviço web disponível com o próposito inicial de integrar Academias, Professores, Alunos e outras pessoas do ramo Fitness.</p>
<p>Mas este site também visa prover informações para dar suporte a qualquer pessoa que deseja praticar uma atividade física.</p>
<p>Algumas destas informações citadas acima são: localização das academias, horário de funcionamento, valores, pacotes, promoções, número de alunos, modalidades. </p>

<h3 class="orange bolder">Sobre a J3</h3>
<p>Academia On</span> é um dos serviços desenvolvidos pela empresa <span class="bolder">J3</span>.</p>
<p>A <span class="bolder">J3</span> é composta por um grupo de desenvolvedores que disponibiliza serviços que facilita a vida das pessoas. Somos especialistas em desenvolvimento web e amamos sistemas limpos, modernos e úteis.</p>
