@{
    ViewBag.Title = "Contato";
}
<h3 class="green bolder">Localização</h3>
<address>
    Rua Promotor Francisco Lins, 04<br />
    Belo Horizonte, MG - 31998-470<br />
</address>

<br />

<h3 class="orange bolder">Contato</h3>
<address>
    <abbr title="Phone">Telefone:</abbr>
    (31) 8556-8525<br /><br />

    <strong>Suporte:</strong>   <br />
    Johnnathan Rodrigo: <a href="mailto:johnnathanalmeida@example.com">johnnathanalmeida@gmail.com</a>
    <br />
    Júlio Cezar: <a href="mailto:jcsvieira@gmail.com">jcsvieira@gmail.com</a><br />
</address>