@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Encontre academias próximas de você</p>
    <p class="lead">Veja as classificações e promoções das academias</p>
    <p class="lead">Participe da comunidade</p>
</div>

<div class="row">
</div>
<div class="hr hr32 hr-dotted"></div>
<div class="row">
    <div class="col-sm-7">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Busque por academias</h2>
        <p>
            Encontre as academias próximas de você.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Ver mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Busque por modalidade</h2>
        <p>Veja as modalidades mais populares do momento e por região.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ver mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Comentários sobre as academias</h2>
        <p>Veja os comentários e classificações que foram atribuídas por outros alunos as academias.</p>
        <p>Apenas alunos classificam as academias</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ver detalhes &raquo;</a></p>
    </div>
</div>