@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <p class="lead">Cuide de sua saúde</p>
    <p class="lead">Saia da rotina</p>
    <p class="lead">Experimente novas modalidades</p>
    <p class="lead">Aproveite as promoções</p>
    <p class="lead">Compartilhe suas experiências</p>
</div>

<div class="hr hr32 hr-dotted"></div>

<div class="row">
    <div class="col-md-4">
        <h2>Busque por academias</h2>
        <p>Encontre as academias próximas de você.</p>
        <p>Veja as mais populares.</p>
    </div>
    <div class="col-md-4">
        <h2>Busque por modalidades</h2>
        <p>Veja as modalidades mais populares do momento e por região.</p>
    </div>
    <div class="col-md-4">
        <h2>Busque por promoções</h2>
        <p>Veja as promoções mais populares do momento e por região.</p>
    </div>
</div>

<div class="hr hr32 hr-dotted"></div>

<div class="row">
    <div class="col-md-4">
        <h2>Compatilhe e veja os comentários sobre as academias</h2>
        <p>Veja os comentários e classificações que foram atribuídas por outros alunos as academias.</p>
        <p>Apenas alunos classificam as academias</p>
    </div>
    <div class="col-md-4">
        <h2>Alunos de academias credenciadas possuêm:</h2>
        <p>Marcação de montagem de ficha para treino online;</p>
        <p>Situação da academia matriculada em tempo rel;</p>
        <p>Visualização da frequência;</p>
        <p>Marcação e visualização da avaliação fisíca.</p>
    </div>
    <div class="col-md-4">
        <h2>Baixe o aplicativo para Android / IOS</h2>
        <p>Tenha em mãos a sua frequência, treino, ficha de avalição e muitos mais.</p>
        <p>Veja a situação da academia em tempo real.</p>
    </div>
</div>